@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Gruppo&display=swap");

:root {
  --primary-white: #fffeff;
  --primary-blue: #a9b7e7;
  --primary-dark: #190d30;
  --secondary-blue: #2a2cac;
  --primary-purple: #8010a2;
}

/*************** General Background Styles ******************/
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Gruppo", cursive;
  background: url(bg.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: var(--primary-blue) !important;
}

h1,
h3,
h4,
h5,
h6 {
  font-family: "Audiowide", cursive;
}

/************* Basic Flexbox Classes  ***************/
.group {
  display: flex;
  flex-direction: column;
}

.subgroup {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
}

.item-double {
  flex: 2;
}

/************* NAVBAR ***********/
nav {
  z-index: 2;
}

.navbar {
  background: linear-gradient(to right, #131b43 40%, #8710ac 150%);
}

/************ NAVBAR LOGO *************/
.navbar-brand {
  color: var(--primary-blue) !important;
  font-size: 1.25rem !important;
  font-family: "Audiowide", cursive;
  letter-spacing: 0.1rem;
}

/************** NAVBAR LINK STYLES **************/
nav a.nav-link {
  letter-spacing: 0.1rem;
  cursor: pointer;
  font-family: "Gruppo", cursive;
  font-weight: 900;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-blue) !important;
  border-bottom: 0.1875rem solid var(--primary-dark);
  transition: 0.6s ease-in-out;
}

.navbar-nav > li > a.active,
.navbar-nav > li > a:focus {
  border-bottom: 0.1875rem solid var(--primary-blue);
}

.navbar-nav > li > a:hover {
  border-bottom: 0.1875rem solid var(--primary-blue);
}

/************** Home Page Styles *******************/
.img {
  border-radius: 50%;
  max-width: 250px;
  margin-bottom: 20px;
  border: 6px double var(--primary-blue);
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
}

.main-info h1 {
  margin-top: 20px;
  color: var(--primary-blue);
  text-transform: uppercase;
  font-family: "Audiowide", cursive;
  font-size: 1.25rem;
  letter-spacing: 0.1rem;
  font-weight: 600;
}

.main-info a {
  margin-top: 10px;
  border: 3px solid var(--primary-blue);
  text-decoration: none;
  padding: 0.75rem 0.75rem 0.75rem 0.75rem;
  color: var(--primary-blue);
  background-color: var(--primary-dark);
  transition: 0.6s ease-in-out;
}

.main-info a:hover {
  text-decoration: none;
  color: var(--primary-purple);
  background-color: var(--primary-blue);
}

.typed-text {
  font-size: 2rem;
  color: var(--primary-white);
  font-family: "Gruppo", cursive;
}

/************** REACT PARTICLES EFFECTS ************/
.tsparticles-canvas-el {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

/************** CONTACT FORM *****************/
form {
  border: 3px solid var(--primary-blue) !important;
  padding: 8px;
}

form > button {
  background-color: var(--primary-dark);
  color: var(--primary-blue);
  padding: 6px;
  font-weight: 900;
  border-color: var(--primary-blue);
  transition: 0.6s ease-in-out;
}

form > button:hover {
  background-color: var(--primary-blue);
  color: var(--primary-dark);
}

/*********** TEXT BOX BACKGROUNDS *********/
.info-box {
  /* background-color: var(--primary-dark) !important; */
  background: linear-gradient(45deg, #131b43 60%, #8010a2 150%) !important;
  font-family: "Gruppo", cursive;
  font-weight: 900;
  font-size: 1.1rem;
  border: 3px solid var(--primary-blue);
  padding: 8px;
  letter-spacing: 0.1rem;
}

.info-box > ul {
  list-style-position: inside;
  list-style-type: square;
}

/**************** FOOTER ******************/
footer {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  background: linear-gradient(to right, #131b43 40%, #8010a2 150%);
  color: var(--primary-blue);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

footer p {
  margin-bottom: 0;
  margin-top: 8px;
}

/****************** CAROUSEL *****************/
.carousel-inner > .carousel-item > img {
  width: 100vw;
}

.carousel-caption {
  color: var(--primary-blue) !important;
  background-color: rgba(0, 0, 0, 0.7);
}

.carousel-caption h5 {
  font-family: "Audiowide", cursive !important;
  font-size: 1rem;
}

.carousel-caption p {
  font-family: "Gruppo", cursive !important;
  font-weight: 800;
  font-size: 0.9rem;
}

@media all and (min-width: 750px) {
  .carousel-inner > .carousel-item > img {
    height: 70vh;
  }
  .group {
    flex-direction: row;
  }
}

#skill-list {
  font-size: 1rem;
  padding-left: 20px;
}
